<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>365978098253-nj3frq4ds82n80fcudue850qeiso13uu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.365978098253-nj3frq4ds82n80fcudue850qeiso13uu</string>
	<key>API_KEY</key>
	<string>AIzaSyD-QsvvwI7-C8ftdmuU18tOd2t5j10Gl3Y</string>
	<key>GCM_SENDER_ID</key>
	<string>365978098253</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kiosAgro</string>
	<key>PROJECT_ID</key>
	<string>second-908d1</string>
	<key>STORAGE_BUCKET</key>
	<string>second-908d1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:365978098253:ios:2407f6b90878266051da04</string>
	<key>DATABASE_URL</key>
	<string>https://second-908d1.firebaseio.com</string>
</dict>
</plist>
